<!-- <header> -->
  <div class="statusbar-overlay"></div>
  <div class="panel-overlay"></div>
  <div class="panel panel-left panel-reveal">
    <nav class="sidebar-nav">
      <ul>
        <li><a href="index.html" class="close-panel"><img src="/images/icons/white/home.png" alt="" title="" /><span>Home</span></a></li>
        <li><a href="about.html" class="close-panel"><img src="/images/icons/white/mobile.png" alt="" title="" /><span>About</span></a></li>
        <li><a href="features.html" class="close-panel"><img src="/images/icons/white/features.png" alt="" title="" /><span>Features</span></a></li>
        <li><a href="#" data-popup=".popup-login" class="open-popup close-panel"><img src="/images/icons/white/lock.png" alt="" title="" /><span>Login</span></a></li>
        <li><a href="team.html" class="close-panel"><img src="/images/icons/white/users.png" alt="" title="" /><span>Team</span></a></li>
        <li><a href="blog.html" class="close-panel"><img src="/images/icons/white/blog.png" alt="" title="" /><span>Blog</span></a></li>
        <li><a href="photos.html" class="close-panel"><img src="/images/icons/white/photos.png" alt="" title="" /><span>Photos</span></a></li>
        <li><a href="videos.html" class="close-panel"><img src="/images/icons/white/video.png" alt="" title="" /><span>Videos</span></a></li>
        <li><a href="music.html" class="close-panel"><img src="/images/icons/white/music.png" alt="" title="" /><span>Music</span></a></li>
        <li><a href="shop.html" class="close-panel"><img src="/images/icons/white/shop.png" alt="" title="" /><span>Shop</span></a></li>
        <li><a href="cart.html" class="close-panel"><img src="/images/icons/white/cart.png" alt="" title="" /><span>Cart</span></a></li>
        <li><a href="tables.html" class="close-panel"><img src="/images/icons/white/tables.png" alt="" title="" /><span>Tables</span></a></li>
        <li><a href="toggle.html" class="close-panel"><img src="/images/icons/white/toggle.png" alt="" title="" /><span>Toggle</span></a></li>
        <li><a href="tabs.html" class="close-panel"><img src="/images/icons/white/tabs.png" alt="" title="" /><span>Tabs</span></a></li>
        <li><a href="form.html" class="close-panel"><img src="/images/icons/white/form.png" alt="" title="" /><span>Forms</span></a></li>
        <li><a href="contact.html" class="close-panel"><img src="/images/icons/white/contact.png" alt="" title="" /><span>Contact</span></a></li>
        <li><a [routerLink]="['']">Home</a></li>
        <li><a [routerLink]="['about']">About</a></li>
      </ul>
    </nav>
  </div>
<!-- </header> -->

<main>
  <!-- <h1>Hello from {{api.title}}!</h1> -->
  <!-- Images (and assets) are parsed and loaded from within the public directory -->
  <!-- <img src="/img/angular.png"> -->

  <router-outlet></router-outlet>
</main>

<footer>
  ^__^
</footer>







